/* colour scheme: Kuler "Golden Pheasant" by chris24gonzy
 * link: $flash_deep_linking_fuckup_thank_you_adobe
 *
 * blue: #0F3756
 * yellow: #F2CB05
 * orange: #E58200
 * brown: #7F2D01
 * dark red: #400101
 */

@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);

$sansFontFamily: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$wellBackground: rgba(245, 245, 245, 0.575);

@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";

// common

div.background-image {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
  width: 1920px;
  height: 1440px;
  background-image: url("../images/syringe_1920_q20.jpg");
  opacity: 0.25;
}

div.container {
  padding-top: 20px;
}

.tooltip {
  pointer-events: none;
}

.alert-block {
  text-align: center;
  font-size: 16px;
}

// responsive

// leave more room for the charts
@media (max-width: 979px) {
  // Make all grid-sized elements block level again
  [class*="span"],
  .uneditable-input[class*="span"], // Makes uneditable inputs full-width when using grid sizing
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 20px;
    @include ctb-box-sizing(border-box);
  }

  .responsive-split-left {
    float: left;
    width: 302px;
  }

  .responsive-split-right {
    float: right;
    width: 302px;
  }
}

// navbar

ul.dropdown-menu {
  z-index: $zindexTooltip + 5;
}

div.navbar-inner .brand {
  a, a:hover {
    color: inherit;
    text-decoration: none;
 }
}

.navbar .server-name {
  float: right;
  padding-top: (($navbarHeight - $baseLineHeight) / 2);
  font-size: 20px;
  font-weight: 200;
  color: $grayLight;
}

// content

div.well {
  padding-top: 8px;

  h1, h2, h3 {
    text-align: center;
  }

  h1 { font-size: 32px; }
  h2 { font-size: 24px; }
  h3 { font-size: 18px; }
}

div.well.subject-heading {
  position: relative;
  padding: 0;

  h1 { margin-top: 8px; }

  div.prev-link, div.next-link {
    position: absolute;
    margin: 24px 20px 0 20px;
    font-size: 16px;

    a { color: #777; }
  }

  div.next-link {
    right: 0;
  }

  a { color: black; }
  a:active { text-decoration: none; }
}

div.totals {
  padding-bottom: 0;

  .totals-table tr td:nth-child(2) {
    text-align: right;
  }
}

// charts

text {
  font-family: $sansFontFamily !important;
}

.axis text, .axis-label {
  font: 12px sans-serif;
}

.axis-label {
  font-weight: bold;
}

text.yaxis-label {
  font: 14px sans-serif;
  cursor: pointer;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect.bar-bytes {
  fill: #e58200;
}

.bar-req line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  pointer-events: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bar-req line {
    shape-rendering: auto;
  }
}

.percentage {
  pointer-events: none;
}

// footer

div.footer {
  padding-bottom: 8px;
  text-align: center;
  color: #777;
  font-size: 13px;
  font-weight: bold;
}
