/* colour scheme: Kuler "Golden Pheasant" by chris24gonzy
 * link: $flash_deep_linking_fuckup_thank_you_adobe
 *
 * blue: #0F3756
 * yellow: #F2CB05
 * orange: #E58200
 * brown: #7F2D01
 * dark red: #400101
 */

@import "compass_twitter_bootstrap_awesome";

div.background-image {
  position: fixed;
  z-index: -100;
  width: 1920px;
  height: 1440px;
  background-image: url("../images/syringe_1920_q20.jpg");
  opacity: 0.25;
}

div.container {
  padding-top: 20px;
}

.axis text, .axis-label {
  font: 12px sans-serif;
}

.axis-label {
  font-weight: bold;
}

.axis text.hostname {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect.bar {
  fill: #e58200;
}
