!!! 5
%html
  %head
    %title= "goodlog"
  %body
    %h1= "goodlog traffic"
    %ul#hosts
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
    %script{:src => "data.js"}
    :javascript
      $(function() {
        _.each(traffic, function(host) {
          $('#hosts').append('<li>' + host.hostname + ': ' + host.bytes + '</li>');
        });
      });
