<div class="row">
  <div class="span12">
    <div class="well well-large subject-heading">
      <div class="prev-link">
        <div ng-switch on="!!prevLink"><div ng-switch-when="true">
          <a ng-href="#/host/{{prevLink.hostname}}">
            <i class="icon-chevron-sign-left"></i> {{prevLink.hostname}}
          </a>
        </div></div>
      </div>
      <div class="next-link">
        <div ng-switch on="!!nextLink"><div ng-switch-when="true">
          <a ng-href="#/host/{{nextLink.hostname}}">
            {{nextLink.hostname}} <i class="icon-chevron-sign-right"></i>
          </a>
        </div></div>
      </div>
      <h1>{{hostname}}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="well well-large">
      <h2>Traffic</h2>
      <div traffic-host-bar-chart dataset="hostTraffic"></div>
    </div>
  </div>
  <div class="span4">
    <div class="totals well well-large responsive-split-right">
      <h2>Totals</h2>
      <div totals-table dataset="hostTraffic" interval-seconds="hostSeconds"></div>
    </div>
  </div>
</div>
