<div class="row">
  <div class="span12">
    <div class="well well-large interval-heading">
      <div class="pull-left prev-next-link">
        <div ng-switch on="prevLink.active"><div ng-switch-when="true">
          <a href="#/monthly/{{prevLink.year}}/{{prevLink.month}}">
            <i class="icon-chevron-sign-left"></i> {{prevLink.month | monthName}} {{prevLink.year}}
          </a>
        </div></div>
      </div>
      <div class="pull-right prev-next-link">
        <div ng-switch on="nextLink.active"><div ng-switch-when="true">
          <a href="#/monthly/{{nextLink.year}}/{{nextLink.month}}">
            {{nextLink.month | monthName}} {{nextLink.year}} <i class="icon-chevron-sign-right"></i>
          </a>
        </div></div>
      </div>
      <h1>{{month | monthName}} <a href="#/yearly/{{year}}">{{year}}</a></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="well well-large">
      <h2>Traffic</h2>
      <div traffic-bar-chart dataset="monthlyTraffic"></div>
    </div>
  </div>
  <div class="span4">
    <div class="well well-large responsive-split-left">
      <h2>Proportional</h2>
      <div traffic-pie-chart dataset="monthlyTraffic"></div>
    </div>
    <div class="totals well well-large responsive-split-right">
      <h2>Totals</h2>
      <div totals-table dataset="monthlyTraffic" interval-seconds="monthlySeconds"></div>
    </div>
  </div>
</div>
