<div class='navbar-inner'>
  <span class='brand'>
    <i class='icon-align-left'></i> proper:bytes
  </span>
  <ul class='nav'>
    <li class='dropdown'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        2013
        <b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
        <li>
          <a href='foo'>Whole year</a>
        </li>
        <li>
          <a href='foo'>January</a>
        </li>
        <li>
          <a href='foo'>February</a>
        </li>
        <li>
          <a href='foo'>March</a>
        </li>
        <li>
          <a href='foo'>April</a>
        </li>
        <li>
          <a href='foo'>May</a>
        </li>
      </ul>
    </li>
    <li>
      <a href='foo'>foo</a>
    </li>
    <li>
      <a href='bar'>bar</a>
    </li>
  </ul>
</div>
