<div class="navbar-inner">
  <span class="brand">
    <a href="https://github.com/improper/probytes" target="_blank">
      <i class="icon-align-left"></i>&nbsp;&nbsp;proper:bytes
    </a>
  </span>
  <ul class="nav">
    <li class="dropdown" ng-repeat="year in years">
      <a class="dropdown-toggle" data-toggle="dropdown" ng-href="#">{{year}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li ng-repeat="month in months[year]">
          <a ng-href="#/monthly/{{year}}/{{month}}">{{month | monthName}}</a>
        </li>
        <li class="divider"></li>
        <li>
          <a ng-href="#/yearly/{{year}}">Whole year</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" ng-href="#">Hosts <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li ng-repeat="hostname in hostnames">
          <a ng-href="#/host/{{hostname}}">{{hostname}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <p class="server-name">{{serverName}}</p>
</div>
