<div class="row">
  <div class="span12">
    <div class="well well-large subject-heading">
      <div class="prev-link" ng-show="prevLink">
        <a ng-href="#/yearly/{{prevLink.year}}">
          <i class="icon-chevron-sign-left"></i> {{prevLink.year}}
        </a>
      </div>
      <div class="next-link" ng-show="nextLink">
        <a ng-href="#/yearly/{{nextLink.year}}">
          {{nextLink.year}} <i class="icon-chevron-sign-right"></i>
        </a>
      </div>
      <h1>{{year}}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="well well-large">
      <h2>Traffic</h2>
      <div traffic-interval-bar-chart dataset="yearlyTraffic"></div>
    </div>
  </div>
  <div class="span4">
    <div class="well well-large responsive-split-left">
      <h2>Proportional</h2>
      <div traffic-pie-chart dataset="yearlyTraffic"></div>
    </div>
    <div class="totals well well-large responsive-split-right">
      <h2>Totals</h2>
      <div totals-table dataset="yearlyTraffic" interval-seconds="yearlySeconds"></div>
    </div>
  </div>
</div>
