<div class="row">
  <div class="span12">
    <div class="well well-large interval-heading">
      <div class="pull-left prev-next-link">
        <div ng-switch on="prevLink.active"><div ng-switch-when="true">
          <a href="#/yearly/{{prevLink.year}}">
            <i class="icon-chevron-sign-left"></i> {{prevLink.year}}
          </a>
        </div></div>
      </div>
      <div class="pull-right prev-next-link">
        <div ng-switch on="nextLink.active"><div ng-switch-when="true">
          <a href="#/yearly/{{nextLink.year}}">
            {{nextLink.year}} <i class="icon-chevron-sign-right"></i>
          </a>
        </div></div>
      </div>
      <h1>{{year}}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="well well-large">
      <h2>Yearly traffic</h2>
      <div yearly-chart></div>
    </div>
  </div>
  <div class="span4">
    <div class="well well-large">
      <h2>Proportional</h2>
      <div yearly-pie-chart></div>
    </div>
  </div>
</div>
